{% extends 'base.html' %}

{% block title %}
Пост
{% endblock %}

{% block body %}
<h1>Пост</h1>
<hr>
    <section class="items">
      <div class="items__item item item--post">
        <div>
          <a href="/search/{{data.poster_name}}" class="item__head">
            <div class="item__ava-wrap">
              <img src="{{data.poster_avatar}}" alt="Аватар" class="item__ava" width="47">
              <span class="item__username">{{data.poster_name}}</span>
            </div>
          </a>
        </div>
          <img src="{{data.pic}}" alt="pic" width="348" class="item__post-img">

        <div class="item__descr">
          <p class="item__text">
            {{data.content|safe}}
          </p>
        </div>
        <div class="item__bottom">
          <div class="item__post-info">
            <p class="item__comments-counter">{{data.comment_count}}комментария</p>
            <div class="item__counter">
              <img src="/static/img/eye.png" alt="" class="item__counter-icon" width="26">
              <span class="item__counter-text">{{data.views_count}}</span>
            </div>
          </div>
            {% for dict_ in comments %}
          <div class="item__comments">
            <p class="item__comment">
              <b>{{dict_['commenter_name']}}</b> {{dict_['comment']}}
            </p>
            </div>
            {% endfor %}

        </div>
      </div>
    </section>
{% endblock %}